.breadcrumb {
  position: relative;
  margin-bottom: 0;
}

//////////////Agent Banking ///////////////////
.breadcrumb {
  .breadcrumb-item {
    a {
      line-height: 1;
      letter-spacing: .02em;
      font-weight: 400;
      box-sizing: border-box;
    }
  }
}