.app-footer {
  min-height: $footer-height;
  padding: 0 $spacer;
  line-height: $footer-height;
  color: $footer-color;
  background: $footer-bg;
  // @include borders($footer-borders);
  @media screen and (min-width: $break-large) {
    margin-left: 240px;
    width: calc(100% - 240px);
    padding: 0 40px 0 40px;
  }
}
