  .table-outline {
  border: 1px solid $table-border-color;
  td {
    vertical-align: middle;
  }
}

.table-align-middle {
  td {
    vertical-align: middle;
  }
}

.table-clear {
  td {
    border: 0;
  }
}

.table-ab {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    font-weight: 500;
    border-top: $table-border-width solid $table-ab-border-color;
  }
  tr {
    &.valid {
      background-color: #d0e9c6;
    }
     &.valid:hover {
      background-color: rgba(208, 233, 198, 0.85);;
    }
  }
  thead {
    background-color: transparent
  }
  thead th {
    vertical-align: bottom;
    border-top: none;
  }
  tbody+tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }
  .table {
    background-color: $body-bg;
  }
}

.pagination-ab {
  li {
    border: none;
    margin: 5px;
    a {
      border: none;
      border-radius: 50%;
      padding: 0.4rem 0.7rem;
    }
  }
}