header.navbar {
  position: relative;
  flex-direction: row;
  height: $navbar-height;
  padding: 0;
  background-color: $navbar-bg;
  @include borders($navbar-border);
  .navbar-brand {
    display: inline-block;
    width: $navbar-brand-width;
    height: $navbar-height;
    padding: $navbar-padding-y $navbar-padding-x;
    margin-right: 0;
    background-color: $navbar-brand-bg;
    background-image: $navbar-brand-logo;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $navbar-brand-logo-size;
    @include borders($navbar-brand-border);
  }
  .navbar-nav {
    flex-direction: row;
    align-items: center;
  }
  .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0 !important;
    text-align: center;
    .nav-link {
      padding-top: 0;
      padding-bottom: 0;
      .badge {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: 0;
      }
      >.img-avatar {
        height: $navbar-height - 20px;
        margin: 0 10px;
      }
    }
  }
  .dropdown-menu {
    padding-bottom: 0;
    line-height: $line-height-base;
  }
  .dropdown-item {
    min-width: 180px;
  }
}

.navbar-brand {
  color: $navbar-active-color;
  @include hover-focus {
    color: $navbar-active-color;
  }
}

.navbar-nav {
  .nav-link {
    color: $navbar-color;
    @include hover-focus {
      color: $navbar-hover-color;
    }
  }
  .open>.nav-link,
  .active>.nav-link,
  .nav-link.open,
  .nav-link.active {
    @include plain-hover-focus {
      color: $navbar-active-color;
    }
  }
}

.navbar-divider {
  background-color: rgba(0, 0, 0, .075);
}

///////////////////////////////////////////////////
///////////// Agent Banking //////////////////////
/////////////////////////////////////////////////
.app.sidebar-hidden {
  header.navbar.ab {
      @media screen and (min-width: $break-large) {
      margin-left: 0px !important;
      width: 100%;
    }
  }
}
header.navbar.ab {
  margin: 0;
  padding: 0;
  border: none;
  position: fixed;
  min-height: 64px;
  max-height: 1000px;
  z-index: 3;
  color: rgb(66, 66, 66);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-property: max-height, box-shadow;
  @media screen and (min-width: $break-large) {
    margin-left: 240px;
    width: calc(100% - 240px);
    padding: 0 40px 0 40px;
  }
  .dropdown-menu {
    padding-bottom: 0;
    line-height: $line-height-base;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, 0.22);
    will-change: transform;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
    transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1), -webkit-transform .3s cubic-bezier(.4, 0, .2, 1);
    z-index: -1;
    a:hover {
      background-color: $body-bg;
    }
  }
}

header.navbar.ab .dropdown-toggle .img-avatar {
  margin: 0px;
}