<div class="card post-content">
  <div class="card-header post-content-header">
    <div class="block-profile">
      <div class="block-content overflow-hidden">
        <div class="profile-photo animated fadeInDown">
          <img class="img-avatar img-avatar-thumb" src="assets/img/avatars/avatar-agent.png" alt="">
        </div>
        <div class="profile-infos">

          <a href="#" class="userlink">{{item.createdBy}}</a>

          <p class="h6">{{item.createdAt | timeAgo}}</p>
        </div>
      </div>
    </div>
    <span *ngIf="item.status === 'closed'" class="badge-success" class="badge  badge-success float-right">Traité</span>
    <span *ngIf="item.status === 'taken'" class="badge badge-waiting  float-right">En cours</span>
    <span *ngIf="item.status === 'opened'" class="badge badge-error  float-right">Ouverte</span>
  </div>
  <div class="card-block">
    <div class="item-object"><span>{{item.object}}</span></div>

    <div class="item-body">
      <read-more [text]="item.description" [maxHeight]="40"></read-more>

      <a class="nav-link pictures-link" href="#" [hidden]="item.pictureList.length < 1" (click)="hidePictures(item.reference, $event)">
                Afficher les photos
            </a>
    </div>
     <gallery [hidden]="hiddenPictures != item.reference" [datasource]=pictureUrls></gallery>
    <!--<wiki-gallery [hidden]="hiddenPictures != item.reference"  [metadata]="pictureUrls"></wiki-gallery>-->
    <div class="item-loc">
      <i class="fa fa-map-marker fa-lg m-t-2"></i>
      <span>Etage : {{item.floor}}</span>
      <span>Salle : {{item.place}}</span>
    </div>
  </div>
  <div class="card-footer post-content-footer">
    <div class="row">
      <div class="col-6">
        <span (click)="HandleclickComment(item.reference, $event)" class="post-comment-toggle" href="#">
      <span></span><i class="icon-speech"></i>
        <span class="not-read-notifs">Commentaires</span>
        </span>
        <a *ngIf="item.commentList.length > 0" href="#" class="not-read-notifs"> {{item.commentList.length}} non lus</a>
      </div>
      <div class="col-6 text-right">
        <select name="status" (change)="changStatus(status, item)" class="form-control form-bes" [(ngModel)]="status">
                  <option *ngFor="let state of itemStatus"  [value]="state.id">{{state.status}}</option>
                </select>
      </div>
    </div>

    <comment-widget [itemId]="item.reference" [showList]="showComments" [commentList]="item.commentList"></comment-widget>
  </div>
</div>
