<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-block">
              <h1>Connexion</h1>
              <p class="text-muted">Accéder à votre Compte</p>
              <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="input-group mb-3" [ngClass]="{ 'has-danger has-feedback': f.submitted && !username.valid }">
                  <span style="background: transparent;" class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" [ngClass]="{ 'form-control-danger': f.submitted && !username.valid }" class="form-control" placeholder="Nom d'utilisateur"
                    name="username" [(ngModel)]="model.username" #username="ngModel" required>

                </div>
                <div *ngIf="f.submitted && !username.valid" class="help-block">Nom d'utilisateur est requis</div>
                <div class="input-group mb-3" [ngClass]="{ 'has-danger has-feedback': f.submitted && !password.valid }">
                  <span style="background: transparent;" class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" [ngClass]="{ 'form-control-danger': f.submitted && !username.valid }" class="form-control" placeholder="Mot de passe"
                    name="password" [(ngModel)]="model.password" #password="ngModel" required>

                </div>
                <div *ngIf="f.submitted && !password.valid" class="help-block">Mot de passe requis</div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary px-4" [disabled]="loading">Connexion</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                  </div>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
              </form>
            </div>
          </div>
          <div class="card card-inverse card-primary  d-md-down-none" style="width:44%">
            <div class="bg-primary-dark-op">
              <div class="card-block text-center">
                <div>
                  <h2>{{title}}</h2>
                  <p>{{description}}</p>
                  <img class="img-avatar img-avatar-thumb" src="assets/img/favicon.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
