.img-avatar {
  width: 299px;
  height: 230px;
}

.card-primary {
  background-color: rgba(239, 83, 80, 0.82) !important;
}

.text-muted {
  font-size: 19px;
  font-weight: 400;
  margin: 8px 0 32px;
  color: #999;
}

.help-block {
  color: #cf022b;
  margin-top: -10px;
  margin-bottom: 10px;
}

.badge-error {
  background-color: #ef5350;
}

.app.flex-row {
  background-image: $ab-sidebar-bg;
  background-size: cover;
}

.simple-notification {
  margin-top: 60px;
}